@mixin container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
        max-width: 1200px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

.footer-section {
    background-color: $footerColor;
    width: 100%;
    overflow-x: hidden;
    .footer-section-wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        padding: 40px;
        @include container;

        @include desktop {
            flex-wrap: nowrap;
            gap: 80px;
            padding: 80px;
        }
        
        .footer-section-item:nth-child(1) {
            display: flex;
            flex-direction: column;
            width: 100%;
            font-size: small;
            
            @include desktop {
                width: 20%;
            }
            
            .awesome-ui-logos {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 10px;
                
                .au-logo {
                    object-fit: contain;
                    width: 40px;
                }
                
                .awesome-ui-logo {
                    object-fit: contain;
                    width: 100px;
                }
            }
            
            .copyright {
                margin-bottom: 10px;
                white-space: nowrap;
                overflow: hidden;
            }
            
            .all-rights-reserved {
                margin-bottom: 20px;
            }
            .social-logos{
                display: flex;
                gap: 20px;
                cursor: pointer;
                img{
                    object-fit: contain;
                    background-color: #E2D2BC;
                    padding: 5px;
                    border-radius: 50%;
                }
            }
        }
    
        .footer-section-item:nth-child(2),
        .footer-section-item:nth-child(3) {
            width: calc(50% - 20px);
            display: flex;
            flex-direction: column;
            gap: 15px;
            
            @include desktop {
                width: 20%;
            }
            
            span {
                color: $secondaryColor;
                font-weight: 500;
            }
            
            ul {
                list-style-type: none;
                padding: 0;
                margin: 0;
                
                li {
                    margin-bottom: 15px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    
        .footer-section-item:nth-child(4) {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            
            @include desktop {
                width: 40%;
            }
            
            span {
                color: $secondaryColor;
                font-weight: 500;
                font-size: large;
                text-transform: uppercase;
            }
            input{
                padding-bottom: 70px;
                border: 0;
                padding-left: 20px;
                padding-top: 10px;
                width: 100%;
                box-sizing: border-box;
                border-radius: 3px;
            }
            button{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 14px 10px;
                border: 0;
                font-size: medium;
                color: white;
                background: linear-gradient(90deg, #647B64, #66AC66);
                border-radius: 3px;
                text-transform: uppercase;
                box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                font-size: 0.8em;
                width: 100%;
                box-sizing: border-box;
                
                &::after {
                    content: "→"; 
                    font-size: 1.4em;
                }
            }
        }
    }
}
